body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    left: 120px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    left: 120px;
}

main {
    padding: 2em;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    left: 120px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.sidebar {
    width: 80px;
    background-color: #E8DEF8;
    color: #49454F;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

/* Estilo dos ícones no menu lateral */
.sidebar nav ul li {
    list-style: none;
    margin-bottom: 30px;
}

.sidebar nav ul li a {
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: color 0.3s;
}

/* Tooltip */
.sidebar nav ul li a::after {
    content: attr(title);
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, left 0.3s;
    pointer-events: none;
    z-index: 10;
}

/* Mostrar tooltip ao passar o mouse */
.sidebar nav ul li a:hover::after {
    opacity: 1;
    left: 70px;
}

.sidebar nav ul li a:hover {
    color: #bbb;
}

.sidebar .logo {
    top: 20px;
    width: 60px;
    margin: 20px auto 20px auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}