    .menu-lateral .logo {
        text-align: center;
        margin-bottom: 30px;
    }

    .menu-lateral .logo img {
        max-width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .menu-lateral {
        position: fixed;
        left: 0;
        top: 0;
        width: 100px;
        height: 100vh;
        padding: 20px;
        color: white;
        background-color: #B84776;
    }
    .menu-lateral ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }
    .menu-lateral a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 0;
    }
    .menu-lateral a:hover {
        background-color: #800538;
        border-radius: 8px;
        transition: background-color 0.3s ease, border-radius 0.3s ease;
    }

    main {
        margin-left: 140px;   
        padding-bottom: 45px; 
    }

    .perfil{
        position: center
    }

    footer{
        position: fixed;
        left: 140px;
        right: 0;
        bottom: 0;
        height: 75px;
        width: calc(100% - 140px);
        background-color: #222;
        color: white;
        font-size: 15px;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* parte do perfil */

    .banner-perfil {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: 15px;
    }

    .foto-perfil {
        position: absolute;
        top: 175px;
        left: 50%;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 10px solid white;
    }

    .nome-usuario {
        position: center;
        font-size: 3.0em;
        color: #000000;
        text-align: center;
        margin-top: 100px;
    }

    .descricao-usuario {
        position: center;
        font-size: 1.5em;
        color: #333;
        text-align: center;
        margin-top: 90x;
    }

    .biografia-usuario {
        position: center;
        font-size: 1.5em;
        color: #333;
        text-align: center;
        margin-top: 90x;
    }

    /* parte das caixas de clubes na página de perfil */
    .asidemain {
        cursor: pointer;
        position: center;
        height: 250px;
        width: 98.5%; /* Ajustado para ocupar a largura disponível */
        background-color: rgb(69, 69, 69);
        border-radius: 8px;
        display: flex; /* Usando flexbox para posicionar os itens */
        justify-content: right; /* Alinha a imagem à direita */
        padding: 10px;
    }

    .texto {
        flex: 1; /* Faz o texto ocupar o espaço restante */
        color: white;
        padding-right: 10px; /* Adiciona um espaçamento entre o texto e a imagem */
        font-size: 25px;
    }

    .imagem-clube {
        width: 40%; /* Imagem ocupa metade do espaço */
        height: 100%; /* A altura é ajustada para manter a proporção da imagem */
        display: block;
        border-radius: 10px;
    }

/* parte da página solo de clube(RPG) */

.bodyRPG{
    margin: 0;
    padding: 0;
}

.rpg {
    margin-left: 140px;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    background-color: #5d5d5d;
    min-height: 100vh;
}

.banner-clube-rpg {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 1;
}

.linhaRPGbanner{
    top: -52px;
    border: none;
    height: 5px;
    background-color: #222;
    margin: 0;
    position: relative;
    z-index: 2;
}

.caixa-nome {
    top: -42px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #800538;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    user-select: none;
    margin-left: 20px;
    margin-bottom: -15px;
    position: relative;
    z-index: 3;  
    border: 2px solid #333;    
}

.botao-seguir {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 300px;
    height: 45px;
    background-color: #454545;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    gap: 8px;
    margin-left: 20px;
    border: 2px solid #333;    
}
  
.botao-seguir:hover {
    background-color: #3d3d3d;
}
  
.seta {
    font-size: 18px;
}

.botao-com-texto {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: center;
    width: 300px;
    padding: 15px 20px;
    background-color: #454545;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    gap: 8px; 
    margin-left: 20px;
    border: 2px solid #333;
}
  
.topo-botao {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.texto-inferior {
    font-size: 12px;
    opacity: 0.8;
}

.botao-com-texto:hover {
    background-color: #3d3d3d;
}

/* aqui começa a parte do código do Edgar */    

.bodyRPG{
    margin: 0;
    padding: 0;
}

.rpg {
    margin-left: 140px;
    margin-top: 0;
    margin-right: 0;
    background-color: #5d5d5d;
    min-height: 100vh;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
}

.banner-clube-rpg {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 20;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 70%), url('../img/rpg.webp');
    background-size: cover;
    background-position: center;
}

.linhaRPGbanner{
    top: -52px;
    border: none;
    height: 5px;
    background-color: #222;
    margin: 0;
    position: relative;
    z-index: 21;
}

.caixa-nome {
    top: -42px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #800538;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    user-select: none;
    margin-left: 20px;
    margin-bottom: -15px;
    position: relative;
    z-index: 22;  
    border: 2px solid #333;    
}

.conteudo-principal-clube {
    display: flex;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
    align-items: flex-start;
    max-width: calc(100% - 140px - 600px - 30px - 40px);
    margin-right: auto;
    position: relative;
     z-index: 5;
}

.area-botoes {
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
}

.area-lateral {
    position: fixed; 
    top: 200px; 
    right: 20px; 
    width: 600px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 180px - 55px - 50px);
    overflow-y: auto;
    padding-top: 0px;
    padding-right: 10px; 
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box; 
    z-index: 10; 
    background-color: #5d5d5d;
}

.area-lateral::-webkit-scrollbar {
    width: 10px;
}

.area-lateral::-webkit-scrollbar-track {
    background: #4a4a4a;
    border-radius: 10px;
}

.area-lateral::-webkit-scrollbar-thumb {
    background: #B84776;
    border-radius: 10px;
    border: 2px solid #4a4a4a;
}

.area-lateral::-webkit-scrollbar-thumb:hover {
    background: #800538;
}

.botao-seguir {
    margin-left: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 500px;
    height: 45px;
    background-color: #454545;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    gap: 8px;
    margin-left: 20px;
    border: 2px solid #333;    
}
  
.botao-seguir:hover {
    background-color: #3d3d3d;
}
  
.seta {
    font-size: 18px;
}

.botao-com-texto {
    margin-left: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: center;
    width: 500px;
    padding: 15px 20px;
    background-color: #454545;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    gap: 8px; 
    margin-left: 20px;
    border: 2px solid #333;
}
  
.topo-botao {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.texto-inferior {
    font-size: 12px;
    opacity: 0.8;
}

.botao-com-texto:hover {
    background-color: #3d3d3d;
}

.conteudo-lateral {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.calendario-clube {
    width: 100%;
    background-color: #3d3d3d;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 15px;
}

.calendario-clube h2 {
    color: #B84776;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: center;
}

.calendario-clube ul {
    list-style: none;
    padding: 0;
}

.calendario-clube ul li {
    background-color: #4a4a4a;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 0.9em;
}

.galeria-clube {
    width: 100%;
    background-color: #3d3d3d;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 15px;
}

.galeria-clube h2 {
    color: #B84776;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: center;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-galeria img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #555;
    transition: transform 0.3s ease;
}

.grid-galeria img:hover {
    transform: scale(1.05);
}

.informacoes-adicionais {
    width: 100%;
    background-color: #3d3d3d;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 15px;
}

.informacoes-adicionais h2 {
    color: #B84776;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: center;
}

.informacoes-adicionais p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1em;
    text-align: justify;
}

.chatRpg {
    margin-left: 140px;
    margin-top: 0;
    margin-right: 0;
    background-color: #5d5d5d;
    min-height: 100vh;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    display: flex; 
    align-items: stretch;
    gap: 30px;
}

.lateral-chat-clube {
    top: 0px;
    right: 0;
    background-color: #B84776;
    width: 200px;
    flex-shrink: 0;
    padding: 15px;
    height: auto;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lateral-chat-clube h1 {
    color: black;
    margin-top: 0;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 20px;
}

.lateral-chat-clube ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lateral-chat-clube li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    font-size: 1.1em;
}

.membro-online{
    color: black;
}

.membro-offline{
    color: gray;
}

.status-circulo {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.status-circulo.online {
    background-color: #1ad314;
}

.status-circulo.offline {
    background-color: #a00f1b;
}

.divisoria-membros-online {
    background-color: #222;
    height: 3px;
    width: calc(100% - 10px);
    margin: 15px 0;
}

.area-principal-chat {
    flex-grow: 1;
    background-color: #4a4a4a;
    padding: 20px;
}

.area-principal-chat h1 {
    margin-top: 0;
    color: #B84776;
}

/* Parte da home (pedro henrique) */

.area-principal {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.calendario {
    width: 420px;
    height: 430px;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid #ccc;
    flex-shrink: 0;
}

.calendario .mes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendario table {
    width: 100%;
    height: calc(100% - 50px);
    border-collapse: collapse;
}

.calendario th {
    text-transform: lowercase;
    color: #B84776;
    padding-bottom: 10px;
}

.calendario td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.calendario td:hover {
    background-color: #e0e0e0;
}

.calendario .selecionado {
    background-color: #B84776;
    color: white;
}

.eventos {
    width: 280px;
    background-color: #f0f0f0;
    margin-right: 40px;
    padding: 15px;
    border-radius: 10px;
    max-height: 430px;
    overflow-y: auto;
}

.eventos h2 {
    margin-top: 0;
}

.eventos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.eventos li {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.busca {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.busca input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.busca button {
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #B84776;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.feed-noticias {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.feed-noticias h2 {
    margin-top: 0;
}

.feed-noticias .noticia {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.feed-noticias .noticia h3 {
    background-color: #800538;
    color: white;
    padding: 8px 12px;
    border-radius: 8px 8px 0 0;
    margin: -15px -20px 12px -20px;
}

/* NOTIFICAÇÕES (pedro augusto) */

.container {
  max-width: 400px;
  margin: 0 auto;
}   

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #7B0F3C;
}

.title {
  font-weight: bold;
  font-size: 16px;
  color: #7B0F3C;
}

/* Card */
.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 8px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 18px;
  cursor: pointer;
  color: #999;
}

.categoria {
  font-size: 12px;
  color: #888;
  margin-bottom: 2px;
}

.evento-especial span {
  color: #9B1F87;
  font-weight: bold;
}

.titulo {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.data-hora {
  font-size: 13px;
  color: #444;
}

.participantes {
  margin-top: 6px;
  font-size: 13px;
  color: #DE5B6B;
  display: flex;
  align-items: center;
}

/* Mensagem final */
.mensagem-final {
  background-color: #F6DDE0;
  border-radius: 12px;
  padding: 12px;
  margin-top: 12px;
  font-size: 14px;
  color: #7B0F3C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
